$primary-color: #131211;
$secondary-color: #19191a;

.signUp__container {
  margin: 0;
  z-index: 1;
}

.signUp__btn {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: $primary-color;
  color: #dddddc;
  border: 0;
}

.signUp__container:hover .signUp__btn {
  background-color: $secondary-color;
  color: #ffffff;
  cursor: pointer;
}

.signUp__container:hover {
  background-color: #272727;
}

.signUp__title {
  margin: 0;
  font-family: "OpenSans-Regular", sans-serif;
}


@media only screen and (max-width: 645px) {
  .signUp__title {
    display: none;
  }
}