$primary-color: #131211;
$secondary-color: #19191a;

.signOut__container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.signOut__btn {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: $primary-color;
  color: #dddddc;
  border: 0;
}

.signOut__container:hover .signOut__btn {
  background-color: $secondary-color;
  color: #ffffff;
  cursor: pointer;
}

.signOut__container:hover {
  background-color: #272727;
}

.signOut__title {
  margin: 0;
  font-family: "OpenSans-Regular", sans-serif;
}
