$primary-color: #131211;
$secondary-color: #19191a;

.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
  background-color: $primary-color;
  color: #ffffff;
}

.header__navlinks {
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  background-color: $primary-color;
}

.header__navlinks-link {
  padding: 10px 20px;
  font-size: inherit;
  text-decoration: none;
  background-color: $primary-color;
  color: #dddddc;
  border: 0;
}

.header__navlinks-link:hover {
  background-color: $secondary-color;
  color: #ffffff;
  cursor: pointer;
}

.header__navlinks-link:focus {
  border-bottom: 5px solid #9732cb;
}

.header__title {
  padding: 10px 15px;
  margin: 0;
  margin-right: auto;
}

@media only screen and (min-width: 645px) {
  .fa {
    display: none;
  }
  .fa-caret-down {
    display: inline;
  }
}
@media only screen and (max-width: 645px) {
  .navtext {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .header__title {
    display: none;
  }
}
