$primary-color: #131211;
$secondary-color: #19191a;

.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
  background-color: $primary-color;
  color: #ffffff;
}

.header__navlinks {
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  background-color: $primary-color;
}

.header__navlinks-link {
  padding: 10px 20px;
  font-size: inherit;
  text-decoration: none;
  background-color: $primary-color;
  color: #dddddc;
  border: 0;
}

.header__navlinks-link:hover {
  background-color: $secondary-color;
  color: #ffffff;
  cursor: pointer;
}

.header__navlinks-link:focus {
  border-bottom: 5px solid #9732cb;
}

.header__title {
  padding: 10px 0;
  margin: 0;
  margin-right: auto
}

@media only screen and (max-width: 660px) {
  .header__container {
    padding: 0 10px;
    height: 55px;
  }

  .header__title {
    font-size: 1em;
    line-height: 22px;
  }
  .header__navlinks {
    font-size: 0.95em;
    line-height: 22px;
  }
}

@media only screen and (max-width: 568px) {
  .header__container {
    height: 45px;
    padding: 0 5px;
  }

  .header__title-container {
    width: 20%;
  }

  .header__navlinks {
    font-size: 0.65em;
    line-height: 22px;
  }
}
