$primary-color: #131211;
$secondary-color: #19191a;

.button__container {
  margin: 0;
  z-index: 1;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: $primary-color;
  color: #dddddc;
  border: 0;
}

.button__container:hover .btn {
  background-color: $secondary-color;
  color: #ffffff;
  cursor: pointer;
}

.button__container:hover {
  background-color: #272727;
}

.button__title {
  margin: 0;
  font-family: "OpenSans-Regular", sans-serif;
}

@media only screen and (max-width: 645px) {
  .button__title {
    display: none;
  }
}
