.profileTextArea__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.profileTextArea__label {
  margin: 0px;
  font-size: 1rem;
  color: white;
}

.profileTextArea__textarea {
  border: 1px solid white;
  box-sizing: border-box;
  background-color: inherit;
  color: white;
  margin-bottom: 0px;
  max-height: 300px;
}
